/* @import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

@import "tailwindcss";

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --font-main: "Doto", sans-serif; */
  --font-main: "Jersey 15", sans-serif;
  --color-main: #faf3e0;
  --color-secondary: #b9a8b2;
}
